{% extends "base_generic.html" %}

{% block content %}
  <h1>Author List</h1>
  {% if author_list %}
    <ul>
      {% for author in author_list %}
      <li>
        <a href="{{ author.get_absolute_url }}">{{ author.username }}</a>
        <!-- {% if author.blog %}
        <ol>
            {% for blog in author.blog %}
                <li>
                    <a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a>
                </li>
            {% endfor %}
        </ol>
        {% else %}
            <p>There are no blogs for this author.</p>
        {% endif %} -->
      </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no Authors in the BlogSite.</p>
  {% endif %}
{% endblock %}