{% extends "base_generic.html" %}

{% block content %}
<h1>{{ blog.title }}</h1>
<p>posted on: {{ blog.posted_on }}</p>
<p>{{ blog.content }}</p>
<p>
    Written by: <a href="{{ blog.author.get_absolute_url }}">{{ blog.author.username }}</a>
</p>
<hr />
<h4> Comments </h4>
<!-- user is already need to logged in to view the detail page but just an example -->
{% if user.is_authenticated %}
    {% for comment in blog.comment_set.all %}
        <p>{{ comment.content }}</p>
        <p style="font-size: small; color: gray;"> <em>commented by: {{ comment.user.username }}  commented on: {{ comment.commented_on }}</em></p>
        <hr>
    {% empty %}
        <p>Be first to comment!</p>
    {% endfor %}
    <a href="{% url 'add-comment' blog.id %}">add comment</a>
    <br>
{% else %}
    Login to see comments
    <li><a href="{% url 'login' %}?next={{ request.path }}">Login</a></li>
{% endif %}
{% endblock %}